.root {
  display: grid;
  grid-template-areas:
    'top top top'
    'left component right'
    'bottom bottom bottom';
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  height: 100vh;
  margin: 0;
}

.top,
.bottom,
.component,
.left,
.right,
#root p {
  padding: 20px;
  background: gold;
}
.root p {
  padding: 20px;
  background: gold;
}
.top {
  grid-area: top;
  /* width: 100%; */
}
.bottom {
  grid-area: bottom;
  /* width: 100%; */
}
.component {
  grid-area: component;
}
.left {
  grid-area: left;
}
.right {
  grid-area: right;
}
